/* font style  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-normal {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


/* shared style  */
* {
    margin: 0;
    padding: 0;
}
.hide{
    display: none;
}

.bg-color {
    background-color: rgba(255, 144, 14, 0.1);
}
.dark-1{
    color: #131313;
}
.dark-2 {
    color: #424242;
}

.dark-3 {
    color: #727272;
}

.orange {
    color: #FF900E;
}

.size-400 {
    font-weight: 500;
}

.section-title {
    color: #131313;
    font-size: 3rem;
}

.section-subtitle {
    color: #727272;
    font-size: 1rem;
    margin-top: 24px;
    margin-bottom: 32px;
}

.center {
    text-align: center;
}

.flex {
    display: flex;
}

.p-btn {
    background-color: #FF900E;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 20px 25px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

/* header section style  */
.navbar {
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 50px;
    justify-content: space-between;
    align-items: center;
}

.option-container ul {
    display: flex;
    gap: 50px;
}

.option-container ul li {
    list-style: none;
}

.option-container ul li a {
    text-decoration: none;
    color: #424242;
}

/* banner style  */
.banner {
    max-width: 1440px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.banner-info {
    max-width: 862px;
    margin: 102px auto 50px auto;
}

.banner-title {
    font-size: 4rem;
}

/* main section style  */

main {
    max-width: 1440px;
    margin: 0 auto;
}

/* features section style  */
.features {
    margin-top: 80px;
    margin-bottom: 130px;
    justify-content: center;
    align-items: center;
    gap: 73px;
}

.features-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.features-info {
    width: 537px;
}

/* love section style  */
.love{
    display: flex;
    gap: 150px;
    height: 1059px;
}
.love-info{
        margin-top: 62px;
        width:  50%;
        height: 983px;
        /* border: 1px solid red; */
}
.love-title{
    font-size: 3rem;
    width: 468px;
    padding-left: 21px;
    border-left: 5px solid #FF900E;
}
.love-card-container{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    
}
.love-card{
    width: 586px;
    padding: 30px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 30px;
}
.love-card-title{
    font-size: 1.2rem;
}
.p-btn-2 {
    background-color: #FF900E;
    /* font-size: 4rem; */
    font-weight: bold;
    color: white;
    padding: 46px;
    border-radius: 8px;
    border: none;
    /* cursor: pointer; */
    width: 342px;
    height: 200px;
}

.exp-btn{
    text-align: center;
    position: relative;
    left: 100px;
    bottom: 150px;
    margin-left: 54px;
}
.exp-btn-title{
    font-size: 4rem;
}
.exp-btn-subtitle{
    font-size: 25rem;
}
/* facts section style  */
.facts{
    margin-bottom: 130px;
}
.facts-card{
    border: 1px solid orange;
    width: 242px;
    height: 242px;
    justify-content: center;
    align-items: center;
}
.facts-card-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.facts-title{
    color: rgba(66, 66, 66, 1);
    font-size: 2.8rem;
}
.facts-subtitle{
    color: rgba(114, 114, 114, 1);
    font-size: 1.2rem;
    font-weight: 600px;
}
/* sponsor logo section  */
.sponsors-logo-container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
/* footer section */
.footer{
    max-width: 1440px;
    margin: 0 auto 130px auto;
    padding: 40px 0;
    text-align: center;
}

/* responsive style  */

/* small device  */
@media screen and (max-width: 576px) {
    /* banner section  */
    /* .banner {
        width: calc((100 - 20px)/2);
    } */

    .banner-info {
        margin-top: 30px;
    }

    .banner-img{
        width: 100%;

    }

    .navbar {
        flex-direction: column;
        gap: 20px;
    }



/* Features section  */
    .features {
        flex-direction: column-reverse;
    }
    .features-images{
        grid-template-columns: repeat(1,1fr);
    }
    .features-info{
        width: 400px;
        text-align: center;
    }
/* love section style  */
    .love{
        flex-direction: column;
        height: 100%;
        padding-right: 0px;
    }
    .love-info{
        width: 100%;
    }
    .love-card{
        width: 80%;
    }
    .love-image{
        margin-top: 50px;
        /* margin: 0 auto; */
        
    }
    .love-image img{
        margin-top: 30px;
        width: 100%;
    }
    .exp-btn{
        display: none;
        position:static ;
        text-align: left;
        bottom: 500px;
    }

/* facts style  */
.facts-card-container{    grid-template-columns: repeat(1,1fr);
    /* margin: 0px auto; */
    /* width: 100%; */
    margin-left: 130px;
    gap: 30px;
}
.facts{
    text-align: center;
}
/* sponsor logo section  */
.sponsors-logo-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 30px;
}

}













/* medium devices  */
@media screen and (min-width: 577px) and (max-width: 992px) {
    .banner {
        /* width: calc((100 - 20px)/2); */
    }

    .banner-info {
        margin-top: 30px;
    }

    .banner img {
        width: 100%;
        padding-left: 3px;
        /* padding-right: 10px; */
    }

    .navbar {
        flex-direction: column;
        gap: 20px;
    }
    /* Features section  */
    .features {
        flex-direction: column-reverse;
    }
    .features-images{
       text-align: center;
    }

    /* love section style  */
    .love{
        flex-direction: column;
        width: 100%;
    }
    .love-info{
        width: 100%;
    }
    .love-card{
        width: 80%;
    }
    .love-image{
        margin-top: 50px;
        /* margin-bottom: 50px; */
        /* margin: 0 auto; */
        
    }
    .love-image img{
        margin-top: 30px;
        width: 100%;
    }
    .exp-btn{
        position: relative;
        text-align: left;
        /* bottom: 2000px; */
        margin-top: 30px;
    }
    /* facts style  */
.facts-card-container{    grid-template-columns: repeat(2,1fr);
    /* margin: 0px auto; */
    /* width: 100%; */
    margin-left: 130px;
    gap: 30px;
}
.facts{
    text-align: center;
}
    /* sponsor style  */
    .sponsors-logo-container{
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}

}